@import 'breakpoints';

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin linear-gradient($color1, $color2, $text: false, $angle: 90deg) {
  background-image: -moz-linear-gradient($angle, $color1 0%, $color2 100%);
  background-image: -webkit-linear-gradient($angle, $color1 0%, $color2 100%);
  background-image: linear-gradient($angle, $color1 0%, $color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1,endColorstr=$color2,GradientType=1);

  @if $text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@mixin glassmohphize($color) {
  background: $color;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid $color;
}
